docs/Presentation.pptx filter=lfs diff=lfs merge=lfs -text
docs/Presentation[[:space:]]-[[:space:]]Printable.pptx filter=lfs diff=lfs merge=lfs -text
Graphics[[:space:]]and[[:space:]]Demos/Frontend[[:space:]]Demo.mp4 filter=lfs diff=lfs merge=lfs -text
