<!doctype html>
<html>
<head></head>
<body style="font-family:arial, sans-serif">
    <h1>
        Visualisation Tool for Social Bias in NLP Models
    </h1>

    <p>
        There are different types of charts available below.
        Click the 'RUN' button for any visualisation you would like to see.
    </p>

    <h2>Grouped Bar Chart</h2>
    <p>A grouped bar chart where you can select multiple models across multiple scores at a specified threshold:</p>
    <p><a href="chart1">Run here</a></p>

    <h2>Stacked Bar Chart</h2>
    <p>A stacked bar chart where you can select multiple models, and view the stacked bar chart for the Bias, Nonbias and Neutral scores at a specified threshold:</p>
    <p><a href="chart2">Run here</a></p>

    <h2>Bar Chart with Slider Functionality</h2>
    <p>A bar chart where you can select multiple models, and a score type to be analysed across all thresholds (customisable through the slider).</p>
    <p>Note: If you choose all models at a 1% step size, it can take ~5 minutes to load.</p>
    <p><a href="chart3">Run here</a></p>

    <h2>Radar Chart to Compare Models</h2>
    <p>A radar chart to compare multiple models on a specified score type and threshold:</p>
    <p><a href="chart4">Run here</a></p>

    <h2>Radar Chart to Compare Scores</h2>
    <p>A radar chart to compare one model on multiple score types with a specified threshold:</p>
    <p><a href="chart5">Run here</a></p>

    <h2>Radar Chart to Compare Thresholds</h2>
    <p>A radar chart to compare one model on one score types over several thresholds:</p>
    <p><a href="chart6">Run here</a></p>

</body>

</html>